@tailwind base;
@tailwind components;
@tailwind utilities;

/* #Israr
{
    font-size: 80px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#Israr p
{
    position: absolute;
    bottom: 77%;
} */